<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="about.css">
</head>
<body>
  <header>
    <img src="logo.png"  class="logo">
    <h1>ABOUT US</h1>
  </header>
  <main>
    <section class="about-image">
      <img src="aboutimage.jpg" >
    </section>
    <section class="about-text">
      <h2>Our services</h2>
    <p>Welcome to our sign language learning platform, where communication knows no boundaries. We are committed to empowering the mute and deaf community through comprehensive and accessible resources. Our journey began with a simple yet profound belief: everyone deserves the opportunity to express themselves freely.

      At our core, we strive for inclusivity, understanding, and connection. We recognize the unique challenges faced by individuals with hearing impairments and are dedicated to providing a supportive environment where they can thrive. Our team consists of passionate educators, linguists, and advocates who share a common vision of breaking down communication barriers.
      
      Through our user-friendly interface and expertly crafted curriculum, we aim to make learning sign language both engaging and effective. Whether you're a beginner taking your first steps or an experienced signer honing your skills, our platform offers something for everyone.
      
      But our mission extends beyond just teaching sign language. We are committed to fostering a community of support and empowerment, where individuals can share their experiences, celebrate their successes, and uplift one another.
      
      Join us on this journey towards greater understanding and connection. Together, we can build a world where communication knows no limits.</p>
    </section>
  </main>
</body>
</html>
