<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="TextToSpeech.css">
    <title>Text To Speech Converter</title>
</head>
<body>
    <div class="hero">
    <h1>Text To <span>Speech</span></h1>
    <input id="input" placeholder="Write Over Here.." type="text" autofocus="autofocus" onkeyup="validate();"/>
    <script src="TypeSound.js"></script>

    <script src="TextToSpeech.js"></script>
</body>
</html>